.modalTitle {
  font-weight: 500;
  font-size: 40px;
  line-height: 120%;
  letter-spacing: -0.02em;
  margin-bottom: 20px;
}

.modalDescription {
  font-weight: 400;
  font-size: 16px;
  line-height: 137%;
  color: var(--gray-modal);
  margin-bottom: 20px;
}

.modalTeacher {
  display: flex;
  gap: 14px;
  margin-bottom: 40px;
}

.teacherAvatar {
  border-radius: 50%;
  width: 44px;
  height: 44px;
}

.youTeacher {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: var(--main-text);
}

.modalTeacherName {
  font-weight: 500;
  font-size: 12px;
  line-height: 133%;
  color: var(--gray-text);
  margin-bottom: 4px;
}

.modalTitle2 {
  font-weight: 500;
  font-size: 24px;
  line-height: 133%;
  margin-bottom: 20px;
}

.radioGroup {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 40px;
  cursor: pointer;
}

.radioGroup label input {
  vertical-align: middle;
  margin-right: 8px;
  appearance: none;
  width: 24px;
  height: 24px;
  border: 2px solid var(--gray-text);
  border-radius: 50%;
  display: inline-block;
  position: relative;
  background: var(--background);
  cursor: pointer;
}

.radioGroup label input:checked {
  border-color: var(--yellow-maize);
}

.radioGroup label input:checked::before {
  content: "";
  width: 12px;
  height: 12px;
  background: var(--yellow-maize);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.btnBook {
  font-weight: 700;
  font-size: 18px;
  line-height: 156%;
  border-radius: 12px;
  padding: 16px auto;
  width: 100%;
  height: 60px;
  background: var(--yellow-maize);
  margin-top: 40px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.btnBook:hover,
.btnBook:focus {
  background: var(--yellow-light-hover);
  transform: scale(0.95);
}

.input {
  border: 1px solid var(--border-input);
  border-radius: 12px;
  padding: 16px 18px;
  width: 100%;
  font-size: 16px;
  line-height: 137%;
}

.input::placeholder {
  color: var(--main-text);
}

.input:not(:last-of-type) {
  margin-bottom: 18px;
}

.error:not(:last-of-type) {
  margin-top: -18px;
  margin-bottom: 18px;
}

.error,
.errorMessage {
  color: var(--yellow-maize);
}
