.header {
  max-width: 1184px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.headerLogo {
  display: flex;
  gap: 8px;
  align-items: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: -0.02em;
  transition: color 0.3s ease, transform 0.2s ease;
}

.headerLogo:hover {
  color: var(--yellow-maize);
}

.headerNav {
  font-size: 16px;
  line-height: 125%;
  transition: color 0.3s ease, transform 0.2s ease;
}

.link:hover,
.link:focus {
  color: var(--yellow-maize);
}

.headerNav .active {
  font-weight: 500;
  font-size: 18px;
}

.headerNav .link:not(:last-child) {
  margin-right: 28px;
}

.headerAuthorization {
  display: flex;
  gap: 16px;
}

.headerLogIn {
  display: flex;
  gap: 8px;
  align-items: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 125%;
  transition: color 0.3s ease, transform 0.2s ease;
}

.headerLogIn:hover,
.headerLogIn:focus {
  transform: scale(0.95);
  color: var(--yellow-maize);
}

.iconLogIn {
  fill: none;
  width: 20px;
  height: 20px;
  stroke-width: 2px;
  stroke: var(--yellow-maize);
}

.headerRegistration {
  font-weight: 700;
  font-size: 16px;
  line-height: 125%;
  color: var(--background);
  border-radius: 12px;
  padding: 14px 39px;
  width: 166px;
  height: 48px;
  background: var(--main-text);
  transition: color 0.3s ease, transform 0.2s ease;
}

.headerRegistration:hover,
.headerRegistration:focus {
  transform: scale(0.95);
  color: var(--yellow-maize);
}

.iconLogo {
  width: 28px;
  height: 28px;
}
