.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: var(--backdrop);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1001;
  overflow-y: auto;
}

.modal {
  background: var(--background);
  padding: 64px;
  border-radius: 30px;
  position: relative;
  width: 565px;
}

.closeButton {
  position: absolute;
  top: 20px;
  right: 20px;
  background: none;
  border: none;
  width: 32px;
  height: 32px;
  cursor: pointer;
}

.iconClose {
  display: block;
  fill: none;
  width: 20px;
  height: 20px;
  stroke-width: 2.5px;
  stroke: var(--main-text);
}
